<%= polaris_page(
  title: "Mídias",
  compact_title: true,
  back_url: "/#") do |page| %>
  <%= form_with(model: Attachment.new, builder: Polaris::FormBuilder) do |form| %>
    <%= polaris_form_layout do |form_layout| %>
      <% form_layout.with_item do %>
        <%= form.polaris_dropzone :file, accept:"image/*,video/*", multiple: false, direct_upload: true,  file_upload_button: "Adicionar mídia", file_upload_help: "ou arraste o arquivo para cá e clique em enviar." %>
      <% end %>
      <% form_layout.with_item do %>
        <%= polaris_button(submit: true) { "Enviar" } %>
      <% end %>
    <% end %>
  <% end %>
  <%= polaris_card do %>
    <%= polaris_resource_list do %>
      <% @attachments.each do |attachment| %>
        <%= polaris_resource_item(url: attachment_path(attachment.id)) do |c| %>
          <% c.with_media do %>
            <% if attachment.image? %>
              <%= polaris_avatar(source: rails_blob_path(attachment.file, only_path: true), size: :large, shape: :square, name: attachment.name) %>
            <% else %>
              <%= polaris_avatar(customer: true, size: :large, shape: :square, name: attachment.name) %>
            <% end %>
          <% end %>
          <h3>
            <%= polaris_text_style(variation: :strong) { attachment.name } %>
          </h3>
          <div>Nome do arquivo: <%= attachment.file.filename %></div>
          <div><%= polaris_text_style(variation: :subdued) { "Data de upload: #{attachment.created_at.strftime("%d/%m/%Y")}" } %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
